extends layouts/default
block page
    - var page_title = "Test Page"
    - var page_description = ""
    - var page_keywords = ""
    - var page_author = ""
block content
    a(href="/") Home page
    br
    a(href="/about") About page
    br
    a(href="/contact") Contact page